body {
	background: #ffffff;
	color: #000000;
}

video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

video#scan-animation {
	display: none;
}

#value {
	position: absolute;
	left: -200px;
}

.container {
	margin: 0 auto;
	width: 1000px;
}

h1, p {
	text-align: center;
}

#invalid {
	color: #ff0000;
}

#messages {
	height: 100px;
}
